<div #scrollMe  class="wrap">
    <div *ngIf="isChannels; else chat">
        <div class="title">
            <h3 >{{channel?.channelName}}</h3>
        </div>
        <div class="content" *ngFor = 'let user of channel?.users'>
            <div class="date">
                <p>{{user.date}}</p>
            </div>
            <div class="messageBlock">
                <div class="img">
                    <img [src] = "user.img">
                </div>
                <div class="text">
                    <h3>{{user.fullName}}<span class="time">{{user.time}}</span></h3>
                    <p>{{user.message}}</p>
                </div>
            </div>
        
        </div>
    </div>
 
    <ng-template #chat>
        
         <div class="member">
            <img [src]="member?.img">
            <h3 >{{member?.firstName}} {{member?.lastName}}</h3>
        </div> 
       <div  *ngIf = "myMsg.length" >
             <div  *ngFor = "let message of myMsg">
             <div class="date">
                <p>{{message?.date}}</p>
              </div>
              <div class="user">
                <img [src]="message?.user?.img">
                 <div class="message">
                  <h3>
                    {{message?.user?.firstName}} {{message?.user?.lastName}}
                    <span class="time">{{message?.time}}</span>
                  </h3>
                  <p>{{message?.messages}}</p>
                 </div>
             </div>
            </div>
        </div>
      
    </ng-template>

    <div class="sendMessage">
        <textarea class="textarea" [formControl]="message" ></textarea>
        <span class="send" (click)="sendMessage()">
            <img class="img" src="../../../assets/imges/send.png">
        </span>
    </div>
  
</div>
